.row{
    min-width: 100%;
    min-height: 15%;    
    margin-bottom: 10%;
    padding-bottom: 0;
}

.grid-with-button{
    /* TODO Calcular la altura de forma dinamica con variables */
    height: calc(100% - 80px);
}

.width-90 {
    min-width: 90%;
    max-width: 90%;
    margin: 5% auto;
}

.imgRow{   
    min-width: 5%;
    min-height: 5%;    
    transform: translate(14%);
}

.label{
    margin-left: 10%;
    
}

.pequeña{
    width: 70%;
    height: 70%;
}

.shadow{
    box-shadow: 6px 20px 10px black;
}