.list-container-materials{
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
    /* TODO Calcular la altura de forma dinamica con variables */
    max-height: calc(100% - 184px);
    min-height: calc(100% - 184px);
}