
.box{
    display: flex;
}
.b1{
    flex: 1 1 auto;
}

.width-90-height-70 {
    min-width: 90%;
    max-width: 90%;
    min-height: 80%;
    max-height: 80%;
    margin: 5% auto;
}

.wrap-material-order-buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.wrap-material-order-button {
    display: flex;
}
      
.sendFeedback-button {
    display: flex;
}
    