.ion-nav-link-five {
    width: 100%;
    display: flex;
    min-height: 20%;
    max-height: 20%;
}

.ion-nav-link-four {
    width: 100%;
    display: flex;
    min-height: 25%;
    max-height: 25%;
}

ion-select {
    border-radius: 20px;
}

ion-item {
    margin: 5% 0px;
}

ion-list {
    height: 100%;
}

ion-label {
    border-bottom: 0px;
}

ion-grid {
    height: 100%;
}

.width-90 {
    min-width: 90%;
    max-width: 90%;
    margin: 5% auto;
}