/** CLASE DE ION GRID PARA MENÚS DE BOTONES */
.button-grid {
    min-height: 100%;
    max-height: 100%;
    display: grid;
    align-content: space-evenly;
}

ion-select {
    border-radius: 20px;
}

ion-list {
    height: 100%;
}

ion-label {
    border-bottom: 0px;
}

.grid-with-button{
    height: calc(100% - 72px);
}

.width-90 {
    min-width: 90%;
    max-width: 90%;
    margin: 5% auto;
   
}


.ButtonSuccess{
    padding-left: 40%;
}
