.pictogram-on-button{
    max-width: var(--pictogram-large-width);
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 5%;
}

ion-icon {
    float: inline-end;
    padding: 5%;
}

ion-button{ color: inherit; 
    

} 

ion-fab-button{
    --background: ;
}