.pictogram-on-button{
    max-width: var(--pictogram-large-width);
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 5%;
}

ion-icon {
    float: inline-end;
    padding: 5%;
}

/* 
.styled-button {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
    z-index: 10;
} */